.buffs-section {
  display: flex;

  overflow: scroll;
  overflow-x: hidden;

  flex: 1;

  flex-direction: column;
  row-gap: min(10px, calc(10 * 0.1667vh));

  border-radius: min(20px, calc(20 * 0.1667vh));

  padding: min(12px, calc(12 * 0.1667vh));
  background-color: rgba(60, 60, 60, 0.3);
}

.search-wrapper {
  position: relative;

  flex-wrap: wrap;

  row-gap: min(8px, calc(8 * 0.1667vh));
}

.buff-search {
  flex: 1.5;

  padding: min(4px, calc(4 * 0.1667vh)) min(12px, calc(12 * 0.1667vh));
  flex-shrink: 0;

  font-size: min(18px, calc(18 * 0.1667vh));
}

.suggestion-box {
  position: absolute;
  
  display: flex;
  flex-direction: column;

  gap: 8px;

  bottom: calc(100% + 12px);
  left: -12px;
  right: 0;

  padding: 6px;

  width: calc(100% + 24px);

  background: #212529;
  border: min(3px, calc(3 * 0.1667vh)) solid #111;
  border-radius: min(20px, calc(20 * 0.1667vh));

  max-height: min(500px, calc(500 * 0.1667vh));
  z-index: 10;
}

.buffs-catalog {
  display: flex;
  flex-direction: column;

  gap: min(8px, calc(8 * 0.1667vh));
  
  overflow-y: auto;
}

.buffs-catalog .buff-layout {
  cursor: pointer;
}

.buffs-container {
  display: flex;

  flex-direction: column;
  row-gap: min(12px, calc(12 * 0.1667vh));
}

.buff-layout {
  display: flex;

  flex-direction: column;
  gap: min(10px, calc(10 * 0.1667vh));

  border-radius: min(20px, calc(20 * 0.1667vh));

  padding: min(12px, calc(12 * 0.1667vh));
  background-color: rgba(0, 0, 0, 0.3);

  transition: 0.2s;
}

.buffs-catalog .buff-layout:hover {
  background-color: rgba(0, 0, 0, 0.8);

  transform: scale(0.95);
}

.buff-top {
  display: flex;

  flex-direction: row;
  gap: min(12px, calc(12 * 0.1667vh));
  
  border-radius: min(20px, calc(20 * 0.1667vh));
}

.buff-image {
  height: min(90px, calc(90 * 0.1667vh));
  width: min(90px, calc(90 * 0.1667vh));

  min-width: min(90px, calc(90 * 0.1667vh));
}

.buff-image .unit-gradient {
  padding: min(4px, calc(4 * 0.1667vh));
}

.buff-description {
  display: flex;

  flex-direction: column;
  gap: min(6px, calc(6 * 0.1667vh));
}

.familiar-passive {
  text-align: end;
}