.section-preview {
  display: flex;

  flex-direction: row;
  column-gap: min(10px, calc(10 * 0.1667vh));

  border-radius: min(20px, calc(20 * 0.1667vh));

  padding: min(12px, calc(12 * 0.1667vh));
  background-color: rgba(100, 100, 100, 0.15);
}

.section-title {
  font-size: min(36px, calc(36 * 0.1667vh));
  font-weight: 600;

  text-shadow: min(5px, calc(5 * 0.1667vh)) min(5px, calc(5 * 0.1667vh)) min(5px, calc(5 * 0.1667vh)) rgba(0, 0, 0, 0.2) !important;
  filter: drop-shadow(min(2px, calc(2 * 0.1667vh)) min(2px, calc(2 * 0.1667vh)) min(3px, calc(3 * 0.1667vh)) rgba(0, 0, 0, 0.8));
}

.section-subtitle {
  font-size: min(24px, calc(24 * 0.1667vh));

  filter: drop-shadow(min(2px, calc(2 * 0.1667vh)) min(2px, calc(2 * 0.1667vh)) min(3px, calc(3 * 0.1667vh)) rgba(0, 0, 0, 0.8));
}

.subsection-layout {
  display: flex;
  flex-direction: column;
  row-gap: min(10px, calc(10 * 0.1667vh));

  padding-left: min(12px, calc(12 * 0.1667vh));
  border-radius: min(20px, calc(20 * 0.1667vh));
}

.subsection-divider {
  padding-left: min(6px, calc(6 * 0.1667vh));

  font-size: min(24px, calc(24 * 0.1667vh));
}

.subsection {
  display: flex;

  flex-direction: column;
  row-gap: min(14px, calc(14 * 0.1667vh));

  padding: min(12px, calc(12 * 0.1667vh));;

  border-radius: min(20px, calc(20 * 0.1667vh));

  background-color: rgba(0, 0, 0, 0.3);
}

.tab-structure {
  display: flex;

  width: 100%;

  flex-direction: row;
  column-gap: min(6px, calc(6 * 0.1667vh));

  align-items: center;
  justify-content: space-between;
}

.tab-structure-left {
  display: flex;

  width: 100%;

  flex-direction: row;
  column-gap: min(6px, calc(6 * 0.1667vh));

  align-items: center;
  justify-content: flex-start;
}

.dropdown-button {
  font-size: min(20px, calc(20 * 0.1667vh)) !important;

  cursor: pointer;
}

.passive-layout {
  display: flex;

  flex-direction: column;
  row-gap: min(18px, calc(18 * 0.1667vh));

  padding: min(12px, calc(12 * 0.1667vh));

  border-radius: min(16px, calc(16 * 0.1667vh));

  background-color: rgba(0, 0, 0, 0.3);

  transition: 0.3s;
}

.passive-top {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  column-gap: min(12px, calc(12 * 0.1667vh));
  
  border-radius: min(12px, calc(12 * 0.1667vh));
}

.passive-name {
  font-size: min(28px, calc(28 * 0.1667vh));
}

.passive-bottom {
  display: flex;

  flex-wrap: wrap;

  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  gap: min(8px, calc(8 * 0.1667vh));
  
  border-radius: min(12px, calc(12 * 0.1667vh));

  transition: 0.3s;
}

.passive-number-padding {
  padding-left: min(16px, calc(16 * 0.1667vh));
  padding-right: min(16px, calc(16 * 0.1667vh));
}

.passive-condition {
  flex: 1;

  font-size: min(18px, calc(18 * 0.1667vh)) !important;
}

.faded-passive {
  filter: opacity(0.8) brightness(0.5);
}