.stat-section {
  display: flex;

  overflow-y: auto;
  overflow-x: hidden;

  flex: 1;

  flex-direction: column;
  row-gap: min(10px, calc(10 * 0.1667vh));

  border-radius: min(20px, calc(20 * 0.1667vh));

  padding: min(12px, calc(12 * 0.1667vh));
  background-color: rgba(60, 60, 60, 0.3);
}

.stat-breakdown {
  display: grid;

  grid-template-columns: 1fr;

  gap: min(16px, calc(16 * 0.1667vh));

  border-radius: min(16px, calc(16 * 0.1667vh));
  padding: min(12px, calc(12 * 0.1667vh)) min(12px, calc(12 * 0.1667vh));

  background-color: rgba(0, 0, 0, 0.3);
}

.final-stat {
  display: flex;

  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.final-stat-number {
  display: flex;
  
  gap: min(12px, calc(12 * 0.1667vh));

  width: min(180px, calc(180 * 0.1667vh));

  align-items: center;
  text-align: end;

  justify-content: space-between;
}

.attack-layout {
  display: flex;

  flex-direction: column;
  gap: min(12px, calc(12 * 0.1667vh));

  border-radius: min(20px, calc(20 * 0.1667vh));

  padding: min(12px, calc(12 * 0.1667vh));
  background-color: rgba(0, 0, 0, 0.3);
}

.attack-top {
  display: flex;

  flex-direction: row;
  gap: min(12px, calc(12 * 0.1667vh));
}

.attack-image {
  height: min(100px, calc(100 * 0.1667vh));
  width: min(100px, calc(100 * 0.1667vh));

  min-width: min(100px, calc(100 * 0.1667vh));
  max-height: min(100px, calc(100 * 0.1667vh));
}

.attack-description {
  display: flex;

  width: 100%;

  flex-direction: column;
  gap: min(10px, calc(10 * 0.1667vh));
}