.stat-section {
  display: flex;

  overflow: scroll;
  overflow-x: hidden;

  flex: 1;

  flex-direction: column;
  row-gap: 10px;

  border-radius: 20px;

  padding: 12px;
  background-color: rgba(60, 60, 60, 0.3);
}

.stat-breakdown {
  display: grid;

  grid-template-columns: 1fr;

  gap: 16px;

  border-radius: 16px;
  padding: 12px 12px;

  background-color: rgba(0, 0, 0, 0.3);
}

.final-stat {
  display: flex;

  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.final-stat-number {
  display: flex;
  
  gap: 12px;

  width: 180px;

  align-items: center;
  text-align: end;

  justify-content: space-between;
}

.attack-layout {
  display: flex;

  flex-direction: column;
  gap: 12px;

  border-radius: 20px;

  padding: 12px;
  background-color: rgba(0, 0, 0, 0.3);
}

.attack-top {
  display: flex;

  flex-direction: row;
  gap: 12px;
}

.attack-image {
  height: 100px;
  width: 100px;

  min-width: 100px;
  max-height: 100px;
}

.attack-description {
  display: flex;

  width: 100%;

  flex-direction: column;
  gap: 10px;
}