.unit-section {
  display: flex;

  overflow: scroll;
  overflow-x: hidden;

  flex: 1;

  flex-direction: column;
  row-gap: min(10px, calc(10 * 0.1667vh));

  border-radius: min(20px, calc(20 * 0.1667vh));

  padding: min(12px, calc(12 * 0.1667vh));;
  background-color: rgba(60, 60, 60, 0.3);
}

.stat-potential-tabs {
  display: flex;

  flex-direction: row;
  column-gap: min(6px, calc(6 * 0.1667vh));

  padding: min(0px, calc(0 * 0.1667vh));

  border-radius: min(20px, calc(20 * 0.1667vh));
}

.aoe-info {
  display: flex;

  flex-wrap: wrap;

  row-gap: min(6px, calc(6 * 0.1667vh));

  flex-direction: row;
  column-gap: min(6px, calc(6 * 0.1667vh));

  align-items: center;
}

.base-stats {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: min(16px, calc(16 * 0.1667vh));

  border-radius: min(16px, calc(16 * 0.1667vh));
  padding: min(12px, calc(12 * 0.1667vh));

  background-color: rgba(0, 0, 0, 0.3);
}

.base-stat {
  display: flex;

  width: 100%;

  flex-direction: row;
  align-items: center;

  justify-content: space-between;
}

.stat-label {
  display: flex;

  gap: min(6px, calc(6 * 0.1667vh));

  align-items: center;
  justify-self: flex-start;
}

.passive-description {
  font-size: max(20px, calc(20vh/12)) !important;
}