.bleed {
  color: rgb(255, 28, 32);
}

.slow {
  color: rgb(28, 176, 255);
}

.freeze {
  color: rgb(112, 205, 255);
}

.time-stop {
  color: rgb(0, 154, 197);
}

.flavor-icon {
  width: min(18px, calc(18 * 0.1667vh)) !important;
  height: min(18px, calc(18 * 0.1667vh)) !important;

  object-fit: contain;
  display: inline-block;
  vertical-align: middle;
  margin-right: min(4px, calc(4 * 0.1667vh));

  z-index: 2;
}

.flavor-text-keyword {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}