* {
  box-sizing: border-box;
  font-family: Fredoka;
}

html {
  height: 100%;

  margin: 0;
}

body {
  height: 100%;

  margin: 0;

  display: grid;

  grid-template-rows: auto auto 1fr;

  background-image: url("../Images/Background.webp");
  background-size: cover;
}

.title {
  margin-top: min(0px, calc(0 * 0.1667vh));
  margin-bottom: min(10px, calc(10 * 0.1667vh));

  padding: min(6px, calc(6 * 0.1667vh));

  background-color: rgba(0, 0, 0, .75);

  font-size: min(36px, calc(36 * 0.1667vh)) !important;
  font-weight: bold;
  text-align: center;
}

.header-margin {
  margin-bottom: min(12px, calc(12 * 0.1667vh));
}

.main {
  display: flex;

  overflow: hidden;

  padding-left: min(12px, calc(12 * 0.1667vh));
  padding-right: min(12px, calc(12 * 0.1667vh));
  padding-bottom: min(12px, calc(12 * 0.1667vh));

  height: 100%;

  flex-direction: row;
  align-items: stretch;
  column-gap: 1%;
}

.round-form {
  border-radius: min(999px, calc(999 * 0.1667vh));
  border: none;

  outline: 0;

  background-color: rgba(0, 0, 0, 0.5);
  filter: drop-shadow(min(2px, calc(2 * 0.1667vh)) min(2px, calc(2 * 0.1667vh)) min(3px, calc(3 * 0.1667vh)) rgba(0, 0, 0, 0.8));
  color: white;
}

.general-text {
  margin: min(0px, calc(0 * 0.1667vh));

  color: white;
  font-weight: 550;

  text-shadow: min(2px, calc(2 * 0.1667vh)) min(2px, calc(2 * 0.1667vh)) min(5px, calc(5 * 0.1667vh)) rgba(0, 0, 0, 0.2);
}

.font-size-20 {
  font-size: min(20px, calc(18 * 0.1667vh)) !important;
}

.font-size-48 {
  font-size: min(48px, calc(48 * 0.1667vh)) !important;
}

.no-wrap {
  text-wrap: nowrap;
}

.hidden {
  opacity: 0;
  display: none !important;
  transition: opacity 0.3s ease;
}