* {
  box-sizing: border-box;
  font-family: Fredoka;
}

html, body {
  height: 100vh;

  margin: 0;

  display: grid;

  grid-template-rows: auto auto 1fr;

  background-image: url("../Images/Background.webp");
  background-size: cover;
}

.title {
  margin-top: 0px;
  margin-bottom: 10px;

  padding-top: 20px;
  padding-bottom: 20px;

  background-color: rgba(0, 0, 0, .75);

  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.header-margin {
  margin-bottom: 12px;
}

.main {
  display: flex;

  overflow: hidden;

  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;

  height: 100%;

  flex-direction: row;
  align-items: stretch;
  column-gap: 1%;
}

.round-form {
  border-radius: 999px;
  border: none;

  outline: 0;

  background-color: rgba(0, 0, 0, 0.5);
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.8));
  color: white;
}

.general-text {
  margin: 0px;

  color: white;
  font-weight: 550;

  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.font-size-20 {
  font-size: 20px !important;
}

.font-size-36 {
  font-size: 24px !important;
}
