.header {
  display: flex;

  height: 15vh;
  max-height: min(60px, calc(60 * 0.1667vh));

  background-color: rgba(60, 60, 60, 0.6);

  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-margin {
  margin-bottom: min(12px, calc(12 * 0.1667vh));
}

.icons-section {
  display: flex;

  height: 100%;

  padding-left: min(12px, calc(12 * 0.1667vh));
  padding-right: min(12px, calc(12 * 0.1667vh));

  gap: min(12px, calc(12 * 0.1667vh));

  flex-direction: row;
  align-items: center;
}

.links-section {
  display: flex;

  height: 100%;

  padding-left: min(12px, calc(12 * 0.1667vh));
  padding-right: min(12px, calc(12 * 0.1667vh));

  gap: min(12px, calc(12 * 0.1667vh));

  flex-direction: row;
  align-items: center;
}