.header {
  display: flex;

  height: 15vh;
  max-height: 60px;

  background-color: rgba(60, 60, 60, 0.6);

  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-margin {
  margin-bottom: 12px;
}

.icons-section {
  display: flex;

  height: 100%;

  padding-left: 12px;
  padding-right: 12px;

  gap: 12px;

  flex-direction: row;
  align-items: center;
}

.links-section {
  display: flex;

  height: 100%;

  padding-left: 12px;
  padding-right: 12px;

  gap: 12px;

  flex-direction: row;
  align-items: center;
}