html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.home-main {
  display: flex;
  flex-direction: column;

  overflow-y: scroll;

  padding: min(12px, calc(12 * 0.1667vh)) min(12px, calc(12 * 0.1667vh));
  row-gap: min(24px, calc(24 * 0.1667vh));

  flex: 1;
  overflow: hidden;
}

.home-title {
  font-size: min(64px, calc(48 * 0.1667vh));
  font-weight: bold;

  text-align: center;

  filter: drop-shadow(min(5px, calc(5 * 0.1667vh)) min(5px, calc(5 * 0.1667vh)) min(5px, calc(5 * 0.1667vh)) rgba(0, 0, 0, 0.8));
}

.av-title {
  font-size: min(96px, calc(64 * 0.1667vh))
}

.home-subheader {
  font-size: min(24px, calc(24 * 0.1667vh)) !important;

  text-align: center;

  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
}

.home-subheader span {
  font-size: min(24px, 3vh);
}

.home-logs {
  display: flex;

  flex-direction: row;
  min-height: 0;

  flex: 1;

  column-gap: min(24px, calc(24 * 0.1667vh));

  justify-content: center;
}

.log-list {
  display: flex;
  flex-direction: column;

  overflow-y: auto;

  gap: min(12px, calc(12 * 0.1667vh));

  max-height: 100%;

  height: 100%;

  max-width: min(450px, calc(450 * 0.1667vh));
  padding: min(12px, calc(12 * 0.1667vh));

  background-color: rgba(60, 60, 60, 0.3);
  border-radius: min(24px, calc(24 * 0.1667vh)); 
}

.log-title {
  align-self: center;

  font-size: min(32px, calc(32 * 0.1667vh));
}

.update-container {
  display: flex;

  flex-direction: column;
  align-items: stretch;

  gap: min(12px, calc(12 * 0.1667vh));

  padding: min(12px, calc(12 * 0.1667vh));
  background-color: rgba(0, 0, 0, 0.3);

  border-radius: min(12px, calc(12 * 0.1667vh));
}

.update-container div {
  font-size: min(18px, calc(18 * 0.1667vh)) !important;
}

.feature-container {
  display: flex;

  flex-direction: column;
  align-items: stretch;

  gap: min(12px, calc(12 * 0.1667vh));

  padding: min(12px, calc(12 * 0.1667vh));
  background-color: rgba(0, 0, 0, 0.3);

  border-radius: min(12px, calc(12 * 0.1667vh));
}

.update, .feature {
  align-self: stretch;

  font-size: min(18px, calc(18 * 0.1667vh)) !important;
}

.feature li {
  margin-bottom: min(6px, calc(6 * 0.1667vh));
}

.credits-list {
  display: flex;

  flex-direction: column;
  align-items: stretch;

  font-size: min(18px, calc(18 * 0.1667vh)) !important;

  gap: min(12px, calc(12 * 0.1667vh));

  padding: min(12px, calc(12 * 0.1667vh));
  background-color: rgba(0, 0, 0, 0.3);

  border-radius: min(12px, calc(12 * 0.1667vh));
}

.links-container {
  display: flex;

  flex-direction: row;

  gap: min(12px, calc(12 * 0.1667vh));

  flex-wrap: wrap;
  
  padding: min(12px, calc(12 * 0.1667vh));

  background-color: rgba(0, 0, 0, 0.3);
  border-radius: min(12px, calc(12 * 0.1667vh));
}