html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.home-main {
  display: flex;
  flex-direction: column;

  overflow-y: scroll;

  padding: max(12px, calc(12vh/12));
  row-gap: max(24px, calc(24vh/12));

  flex: 1;
}

.home-title {
  font-size: min(64px, calc(48 * 0.1667vh));
  font-weight: bold;

  text-align: center;

  filter: drop-shadow(min(5px, calc(5 * 0.1667vh)) min(5px, calc(5 * 0.1667vh)) min(5px, calc(5 * 0.1667vh)) rgba(0, 0, 0, 0.8));
}

.av-title {
  font-size: min(96px, calc(64 * 0.1667vh))
}

.home-subheader {
  font-size: max(24px, calc(24vh/12)) !important;

  text-align: center;

  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
}

.home-logs {
  display: flex;

  flex-direction: row;

  gap: min(24px, calc(24 * 0.1667vh));

  justify-content: center;
}

.log-list {
  display: flex;
  flex-direction: column;

  gap: max(12px, calc(12vh/12));

  max-width: min(450px, calc(450 * 0.1667vh));
  padding: max(12px, calc(12vh/12));

  background-color: rgba(60, 60, 60, 0.3);
  border-radius: min(24px, calc(24 * 0.1667vh)); 
}

@media (max-width: 1280px) {
  .home-logs {
    flex-direction: column;
  }

  .log-list {
    max-width: none;
  }
}

.log-title {
  align-self: center;

  font-size: max(32px, calc(32vh/12));
}

.update-container {
  display: flex;

  flex-direction: column;
  align-items: stretch;

  gap: max(12px, calc(12vh/12));

  padding: max(12px, calc(12vh/12));
  background-color: rgba(0, 0, 0, 0.3);

  border-radius: max(12px, calc(12vh/12));
}

.update-container div {
  font-size: max(18px, calc(18vh/12)) !important;
}

.feature-container {
  display: flex;

  flex-direction: column;
  align-items: stretch;

  gap: max(12px, calc(12vh/12));

  padding: max(12px, calc(12vh/12));
  background-color: rgba(0, 0, 0, 0.3);

  border-radius: max(12px, calc(12vh/12));
}

.update, .feature {
  align-self: stretch;

  font-size: max(18px, calc(18vh/12)) !important;
}

.feature li {
  margin-bottom: max(6px, calc(6vh/12));
}

.credits-list {
  display: flex;

  flex-direction: column;
  align-items: stretch;

  font-size: max(18px, calc(18vh/12)) !important;

  gap: max(12px, calc(12vh/12));

  padding: max(12px, calc(12vh/12));
  background-color: rgba(0, 0, 0, 0.3);

  border-radius: max(12px, calc(12vh/12));
}

.links-container {
  display: flex;

  flex-direction: row;

  gap: max(12px, calc(12vh/12));

  flex-wrap: wrap;
  
  padding: max(12px, calc(12vh/12));

  background-color: rgba(0, 0, 0, 0.3);
  border-radius: max(12px, calc(12vh/12));
}