.navigate-button {
  font-size: min(24px, calc(24 * 0.1667vh)) !important; 
}

.link-button {
  display: inline-flex;
  align-items: center;

  padding: min(6px, calc(6 * 0.1667vh)) min(12px, calc(12 * 0.1667vh));
  border-radius: min(99px, calc(99 * 0.1667vh));

  font-size: min(18px, calc(18 * 0.1667vh)) !important; 

  font-weight: 550;
  text-decoration: none;
  color: #000;
  font-family: sans-serif;

  transition: 0.2s;
}

.link-button:hover {
  transform: scale(1.1);
}

.link-button img {
  height: min(24px, calc(24 * 0.1667vh));

  margin-right: min(8px, calc(8 * 0.1667vh));
}

.github-button {
  background-color: white;
}

.bmc-button {
  background-color: #FFDD00;
}

.forms-button {
  background-color: rgb(153, 60, 243);
}

.youtube-button {
  background-color: darkred;
  color: white;
}

.docs-button {
  background-color: darkblue;
  color: white;
}

.settings-button {
  padding: min(6px, calc(6 * 0.1667vh)) min(6px, calc(6 * 0.1667vh));
  background-color: rgba(0, 0, 0, 0.5);
}

.settings-button img {
  height: min(28px, calc(28 * 0.1667vh));

  margin: 0;
  filter: invert(1);
}