.search-tab {
  display: flex;

  overflow-y: scroll;
  overflow-x: hidden;
  
  height: 100%;
  width: 35%;
  max-width: 500px;

  flex-direction: column;
  row-gap: 10px;

  border-radius: 20px;

  padding: 12px;
  background-color: rgba(60, 60, 60, 0.3);
}

.search-index {
  display: flex;
  width: 100%;
  gap: 6px;

  align-items: stretch;
  flex-wrap: wrap;

  margin-bottom: 8px;
}

.sort-search {
  flex: 1 1 200px;

  padding: 4px 12px;

  font-size: 18px !important;
  min-width: 0;
}

.sort-indexes {
  display: flex;
  flex: 0 0 auto;

  gap: 6px;

  flex-wrap: nowrap;
}

.sort-type,
.sort-order {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  flex: 1;

  background-color: rgb(10, 10, 10);
  color: white;

  padding: 2px 40px 2px 12px; /* leave space for arrow */
  border: none;
  border-radius: 99px;

  max-width: 150px;
  min-width: 0;

  font-size: 18px !important;
  cursor: pointer;

  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg fill='white' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px;
}

.catagories {
  font-size: 24px !important;
}

.sort-options {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  align-content: start;

  column-gap: 5px;
  row-gap: 5px;
}