.tags {
  white-space: nowrap;
  
  padding-left: min(10px, calc(10 * 0.1667vh));
  padding-right: min(10px, calc(10 * 0.1667vh));
  padding-top: min(5px, calc(5 * 0.1667vh));
  padding-bottom: min(5px, calc(5 * 0.1667vh));

  font-size: min(20px, calc(20 * 0.1667vh));

  transition: 0.2s;
}

.tags:hover { 
  transform: scale(1.1);
}

.image-tag {
  display: flex;
  
  padding-right: min(12px, calc(12 * 0.1667vh));

  column-gap: min(5px, calc(5 * 0.1667vh));
  
  flex-direction: row;
  justify-content: center;

  align-items: center;
}

.selected-tag {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgb(14, 14, 14);
  
  cursor: pointer;
}