.tags {
  white-space: nowrap;
  
  padding: max(5px, calc(5vh/12)) max(10px, calc(10vh/12));

  font-size: max(20px, calc(20vh/12));

  transition: 0.2s;
}

.tags:hover { 
  transform: scale(1.1);
}

.image-tag {
  display: flex;
  
  padding-right: max(12px, calc(12vh/12));

  column-gap: min(5px, calc(5 * 0.1667vh));
  
  flex-direction: row;
  justify-content: center;

  align-items: center;
}

.selected-tag {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgb(14, 14, 14);
  
  cursor: pointer;
}